*{
    margin: 0%;
    padding: 0%;
}

.profile-container {
    background-color: #FFFFFF;
    /* border-radius: 24px; */
    /* box-shadow: 0px 0px 16px 1px #092E6926; */
    /* padding: 1%; */
    /* margin: auto; */
    /* margin-top: 1%; */
    width: 99%;
    /* height: 95vh; */
    height: 65vh;
    display: flex;
    flex-direction: column;
}
.profile-container .head {
    width: 99%;
    margin: auto;
    margin-top: 1%;
    position: relative;
    display: none;
}
.profile-container .head .profile {
    font-size: 32px;
    font-weight: 700;
    color: #092E69;
}
.profile-container .head svg{
    position: absolute;
    right: 0.5%;
    top: 3%;
}
.profile-container .head .note {
    font-size: 16px;
    font-weight: 500;
    color: #F75B4F;
}
/*--------------head close---------------*/
/*--------------   main  ---------------*/

.profile-container .main {
    width: 99%;
    height: 100%;
    margin: auto;
    margin-top: 0%;
    /* border-top: 4px solid #F3F5F9; */
    display: flex;
}
.profile-container .main .left {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2%;
}
.profile-container .main .left .image{
    width: 50%;
    height: 25%;
    position: relative;
}
.profile-container .main .left .avatar{
    height: 100%;
    width: 100%;
}
.profile-container .main .left .image svg{
    position: absolute;
    bottom: 0%;
    right: 0%;
}
.profile-container .main .left .name{
    font-size: 24px;
    font-weight: 500;
    color: #092E69;
    margin-top: 5%;
}
.profile-container .main .left .position{
    font-size: 16px;
    font-weight: 400;
    color: #848D96;
    margin-top: 2%;
}



.profile-container .main .right {
    border-left: 5px solid #F3F5F9;
    width: 80%;
    height: auto;
    padding-top: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
}
.profile-container .main .right .detail {
    width: 35%;
    height: 13%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.profile-container .main .right .detail .caption {
    display: flex;
    font-size: 16px;
    font-weight: 500;
    color: #000F28;
}
.profile-container .main .right .detail svg {
    margin-left: 2%;
}
.profile-container .main .right .detail Input {
    background-color: #F4F8FB;
    font-size: 14px;
    font-weight: 500;
    color: #000F28;
}
@media screen and (max-width: 768px) {
    .container
    {
        border-radius: 0px;
        box-shadow: none;
        width: 99%;
        height: 100vh;
    }
    .container .head
    {
        width: 99%;
        height: 10%;
    }
    .container .head .profile {
        padding-left: 5%;
        padding-top: 5%;
    }
    .container .head .note
    {
        display: none;
    }

    /*--------------   main  ---------------*/
    .container .main
    {
        flex-direction: column;
    }
    .container .main .left
    {
        width: 100%;
        height: 35%;
        justify-content: center;
    }
    .container .main .left .image
    {
        width: 35%;
        height: 55%;
    }
    .container .main .right
    {
        border: none;
        border-top: 4px solid #F3F5F9;
        width: 100%;
    }
    .container .main .right .detail
    {
        width: 95%;
        height: 11%;
    }
    .container .main .right .detail .caption {
        font-size: 18px;
        font-weight: 500;
        color: #000F28;
    }
}